.navbar__container {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.945),
    transparent
  );
  height: 95px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo__container {
  margin: 0;
}

.logo__img {
  max-width: 100%;
  width: 380px;
  height: 120px;
  margin: 20px 0;
}

.nav__container {
  justify-content: space-between;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

ul {
  display: inline-block;
  list-style: none;
}

ul li {
  align-items: center;
  display: inline-block;
  margin: 40px 55px;
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color: var(--gray);
  font-weight: 800;
  padding-bottom: 16px;
  transition: all 0.2s;
}

.link:hover {
  color: var(--white);
  border-bottom: 4px solid var(--gold);
}

.menu__icon {
  display: none;
}

@media (max-width: 900px) {
  ul {
    position: absolute;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    left: 0;
    background: var(--dark);
    width: 100%;
    z-index: 1;
  }

  ul li  {
    display: block;
    margin: 10px 50px;
    padding-right: 50px;
  }

  .link {
    color: var(--white);
  }

  .link:hover {
    color: var(--white);
    border-bottom: none;
  }

  .closed {
    display: none;
  }
  .menu__icon {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    color: var(--white);
    cursor: pointer;
    z-index: 2;
  }
}


